h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
}

ol {
  color: white;
}

p {
  text-align: center;
  color: red;
}

button {
  background-color: brown;
  color: aqua;
  padding: 20px;
}
